asgiref
beautifulsoup4
dj-database-url
Django
django-bootstrap4
django-crispy-forms
gunicorn
# importlib-metadata  # Standard in Python 3.8+
Pillow
psycopg2-binary
pytz
soupsieve
sqlparse
typing-extensions
whitenoise
zipp
