{% extends "FeedApp/base.html" %}
{% load bootstrap4 %}


{% block content %}

<style>
    table {
        font-size: 15;
        width: auto;
    }


    th,
    td {
        border: 1px solid black;
        padding: 6px;
    }
</style>

<h2>
    <p>My Friends</p>
</h2>

<table>
    <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Member Since</th>
    </tr>
    {# Iterate through the list of friends (Profile objects). #}
    {% for friend in user_friends_profiles %}
    <tr>
        <td>{{friend}}</td> <!--username will show up here due to how profile was defined-->
        <td>{{friend.first_name}}</td>
        <td>{{friend.last_name}}</td>
        <td>{{friend.email}}</td>
        {# Formatting the date using the 'date' filter. #}
        <td>{{friend.created|date:"M d Y"}}</td>
    </tr>
    {% endfor %}
</table>

<br><br><br>

<h2>
    <p>Requests Sent</p>
</h2>

<table>
    <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Sent</th>
        <th>Status</th>
    </tr>
    {# Iterate through sent friend requests. 'r' is a Relationship object. #}
    {% for r in user_relationships %}
    <tr>
        <td>{{r.receiver}}</td> <!--username will show up here due to how profile was defined-->
        <td>{{r.receiver.first_name}}</td>
        <td>{{r.receiver.last_name}}</td>
        <td>{{r.receiver.created}}</td>
        <td>{{r.status}}</td>
    </tr>
    {% endfor %}
</table>

<br><br><br>

<h2>
    <p>Send a Friend Request</p>
</h2>
<form action="{% url 'FeedApp:friends' %}" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>Users</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Request</th>
        </tr>

        {# This empty </tr> seems accidental in the original code, but keeping structure. #}
        </tr>
        {% for profile in all_profiles %}
        <tr>
            <td>{{profile}}</td>
            <td>{{profile.first_name}}</td>
            <td>{{profile.last_name}}</td>
            {# Checkbox to select users to send requests to. value={{profile.id}} sends the ID. #}
            <td><input type="checkbox" name="send_requests" value="{{profile.id}}"></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <button type="submit" class="btn btn-outline-primary" style="float: left;">Send Request</button>
</form>

<br><br><br>

<h2>
    <p>Friend Requests Recieved</p>
</h2>
<form action="{% url 'FeedApp:friends' %}" method="POST">
    {% csrf_token %}
    <table>
        <tr>
            <th>Users</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Request</th>
        </tr>

        </tr>
        {# Iterate through received requests. #}
        {% for rr in request_recieved_profiles %}
        <tr>
            <td>{{rr.sender}}</td>
            <td>{{rr.sender.first_name}}</td>
            <td>{{rr.sender.last_name}}</td>
            {# Checkbox to accept requests. #}
            <td><input type="checkbox" name="recieve_requests" value="{{rr.id}}"></td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <button type="submit" class="btn btn-outline-primary" style="float: left;">Approve Request</button>
    <br><br><br><br>
</form>

{% endblock content %}