{% extends "FeedApp/base.html" %}
{% load bootstrap4 %}



{% block content %}
<h2>
    <p>New Post:</p>
</h2>

{# IMPORTANT: Include enctype="multipart/form-data" whenever a form includes a FileField or ImageField. #}
{# Without this, the file data will not be sent to the server. #}

<form action="{% url 'FeedApp:new_post' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    {# bootstrap_form renders the form fields with Bootstrap styling. #}
    {% bootstrap_form form %}

    <br><br>
    <button name="submit" class="btn btn-outline-primary">Post</button>
</form>






{% endblock content %}